/* Add a black background color to the top navigation */
.topnav {
    background-color:black;
    overflow: hidden;
    width: 100%;
    float: right;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:none;
    color:rgb(188, 219, 195);
  }

/* logo in the navigation*/
.logo-image{
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-top: -7px;
    float: left;
}



footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #565657, #16222A);
  color:  #ddd;
  margin-top:100px;
  bottom: 0;
  position: fixed;
  width: 100%; 
  height: 200px;
}

.f-p{
  margin-top: 50px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*Social Icons*/

 Footer social icons 

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


Footer social icons 

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #000000;
}

@charset "utf-8";
/* contact us CSS Document */

body {
	
background-color: rgb(207, 221, 207);
background-image: url("nikila.jpg");
margin: 0;
padding-right: 100;
box-sizing: content-box;
font-family:'Poppins', sans-serif;

}


h1
{
	font-size: 32px;
	color: rgb(233, 225, 225);
	text-align: center;
}

.pmain
{
	font-size: 16px;
	color: rgb(252, 248, 248);
	padding-left: 0.5%;
	text-align: center;
	
}


.hh1
{
	font-size: 48px;
	color: Black;
	padding-left: 40px;
	margin-top:1.5%;
}

p
{
	font-size: 16px;
	color: black;
	padding-left: 150px;
	margin-left:10%;
}


h2
{
	font-size: 24px;
	color: Black;
	padding-left: 150px;
	margin-top:4%;
	margin-left:10%;

}
.addr
{
	font-size: 16px;
	padding-left: 150px;
	margin-left:10%;
	
}

h3
{
	font-size: 18px;
	color: Black;
	padding-left: 150px;
	margin-left:10%;
}

.phn
{
	font-size: 16px;
	padding-left: 150px;
	color: Black;
	margin-left:10%;
	
}
.sendmsg
{
	font-size: 24px;
	padding-left: 40px;
	color: white;
	
}

.cboxT

{
	font-size: 24px;
	padding-left: 0px;
	color: black;
	
}
.contactForm
{
position:absolute;
display: inline-block;
left: 60%;
top: 25%;
width:30%;
padding:40px;
background-color: rgb(123, 178, 241);
}


.txtB
{
position:relative;
background-color: #D3D3D3;
	border: #D3D3D3;
padding-left: 10px;
width:250px;
height: 30px;
margin-top:5px;
} 

.txtC
{
position:relative;
background-color: #D3D3D3;
border: #D3D3D3;
padding-left: 10px;
width:250px;
height: 60px;
margin-top:5px;
} 

.sendBT
{
	background-color: #D3D3D3;
	border: #D3D3D3;
	width: 60px;
	height: 30px;

}
