/* Add a black background color to the top navigation */
.topnav {
    background-color:black;
    overflow: hidden;
    width: 100%;
    float: right;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:none;
    color:rgb(188, 219, 195);
  }

/* logo in the navigation*/
.logo-image{
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-top: -7px;
    float: left;
}
body
{
  padding-top: 0.1px;
}



footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #565657, #16222A);
  color:  #ddd;
  margin-top:100px;
  bottom: 0;
 
  width: 100%; 
  height: 200px;
}

.f-p{
  margin-top: 50px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*Social Icons*/

 Footer social icons 

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


Footer social icons 

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #000000;
}


[06:03, 10/12/2020] Supun Sandeepa 20. 1 (UGC) CN FOSS: .heading h1{
 
  text-align: center;
  text-transform: uppercase;
  color:  #000000;
  font-family: Times New Roman;
  padding-top: 100px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}


/slide show/
.slideshow{
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-bottom: 2%;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  }

  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}


.about-section {
  padding: 50px;
  text-align: center;
  background-color: #000000;
  color: white;
 
}


/content gallary/
.container{
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  position: relative;
  left: -6%;
  width: 300px;
  height: 370px;
  transition: 0.3s ease-out;
  box-shadow: 0 3px 15px rgba(201, 148, 148, 0.7);
}

.card .imgbox{
  position:relative;
  top: 0;
  left: 0;
  width: 200%;
  height: 50%;
}

.card .imgbox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  display: block;
  transition: 0.5s;
}

.card .content{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 12px;
  background:  #000000;
  transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
  box-sizing: border-box;
  overflow: hidden;
  color: white;
}

.card:hover .content{
  width: 100%;
  height: 75%;
  left: 0;
  bottom: 0;
}

.content p{
  margin: 10px 0 0;
  padding: 1em 1em;
  transform: translateY(2em);
  line-height: 1.3em;
  transition: 0.3s;
  text-align: justify;
  opacity: 0;
}

.content h2{
  text-align: center;
}

.card:hover .content p{
  transform: translateY(0);
  opacity: 1;
}

.card:hover{
  box-shadow: 0 0 5em rgba(0, 0, 0, 0.4);
}