/* Add a black background color to the top navigation */
.topnav {
    background-color:black;
    overflow: hidden;
    width: 100%;
    float: right;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:none;
    color:rgb(188, 219, 195);
  }

/* logo in the navigation*/
.logo-image{
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-top: -7px;
    float: left;
}



footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #565657, #16222A);
  color:  #ddd;
  margin-top:100px;
  bottom: 0;
  position: fixed;
  width: 100%; 
  height: 200px;
}

.f-p{
  margin-top: 50px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*Social Icons*/

 Footer social icons 

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


Footer social icons 

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #000000;
}


body{
  font-family: 'Segoe UI';
  color: rgb(158, 178, 221);
  
  }
  
  .wd{
  
  text-align: justify;
  margin-top: 40px;
  
  width: 1200px;
  height: 300px;
  background-color: rgb(134, 128, 182);
  opacity: 0.9;
  padding: 55px;
  
  }
  
  
  h1{
  text-align: center;
  text-transform: uppercase;
  font-weight: 100px;
  color:grey
  
  }
  
  
  
  h4{
  text-align: center;
  color:grey;
  font-weight: normal;
  }
  
  
  h2{
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin: 40px auto;
  }
  
  
  
  .opt form, input[type="button"]{
  background-color: rgb(25, 80, 230);
  color: white;
  padding: 10px;
  margin: 14px auto;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  }
  
  form, input[type="button"]:hover{background-color: teal;}
  form{
  background-color: black;
  }
  /*navbar css*/
  header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }
  
  header li {
  float: left;
  }
  
  header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  
  header li a:hover {
  background-color: #111;
  }
  
  .deluxe{
  justify-items: center;
  text-align: center;
  width: 1200px;
  margin:auto;
  margin-top: 50px;
  }
  
  